module auditd_logrotate 1.0;
require {
    type auditd_log_t;
    type logrotate_t;
    class dir { add_name read remove_name write };
    class file { create ioctl open read rename getattr setattr unlink write };
}
#============= logrotate_t ==============
allow logrotate_t auditd_log_t:dir { add_name read remove_name write };
allow logrotate_t auditd_log_t:file { create ioctl open read rename getattr setattr unlink write };
